
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: transparent; */
}

.searchInputs {
    display: flex;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
  }
  
  .search input {
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    width: 300px;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: transparent;
    display: grid;
    place-items: center;
    
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    margin-top: 5px;
    background-color: transparent;
    font-size: 18px;
    border-spacing: 4px;
    overflow-x: auto;


  }
  
  /* .dataResult::-webkit-scrollbar {
    display: none;
  } */
  
  .dataResult .dataItem {
    
    margin:50px;
    background-color: transparent;
    justify-content: center;
    /* fle */
    
    /* display: flex; */
    }
  
  .dataItem p {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  #clearBtn {
    cursor: pointer;
  }